.grid {
  display: grid;  /* convertir un elemento en un contenedor de cuadrícula (rejilla)  */
  grid-template-columns: repeat(3, 1fr);  /* Coloca los div en columnas horizontales */
  gap: 24px; /* Separa cada elemento en un espacio 24px */
  padding: 24px;   /* Separa el borde de cada elemento con un espacio 24px */
}

.box {
  background: #d4d4d4;
  display: flex; /* crear un sistema de diseño unidimensional que permite organizar, alinear y distribuir elementos */
  align-items: center;     /* letras en el centro vertical*/
  justify-content: center; /* letras en el centro horizontal*/
  font-size: 22px; /* Tamaño de la letra*/
  height: 80px;
  font-family: serif;
}
