body{
  padding: 10px;
  margin: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1599833975787-5c143f373c30?q=80&w=1828&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

input{
  border-radius: 8px;
}

h1{
  color: #BED4CB;
}

 h3, label{
  color: #FFFBF1;
}

button{
  height: 30px;
  width: 120px;
  border-radius: 5px;
  color: #355872;
  font-weight: bold;
  background-color: #9CD5FF;
}

button:hover{
  height: 35px;
  width: 130px;
  color: #BFC9D1;
  font-size: 16px;
  background-color: #25343F;
}
