/* ==========================================
   1. RESET BÁSICO Y ESTILOS GENERALES
   ========================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding no altere el tamaño total */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    /* Usamos DISPLAY FLEX para centrar la tarjeta en la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ==========================================
   2. EL CONTENEDOR PADRE (SECTION)
   ========================================== */
